<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jahidul Pabel Islam">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <!-- Bootstrap stylesheet-->
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="lib/main.css" />
        <link rel="stylesheet" href="lib/chat.css" />
        <link rel="icon" href="images/logo.png">
        <title>Chat | Buddy Support</title>
    </head>

    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" id="logoContainer" href="/" onclick="return getConfirmation(this);"><img id="logo" src="images/logo.png"
                                                                                    alt="Logo for Buddy Support"
                                                                                    style="opacity:1;"></a>
                    <a class="navbar-brand" href="/" onclick="return getConfirmation(this);">Chat</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/contact" onclick="return getConfirmation(this);">Contact</a></li>
                        <li><a href="/help" onclick="return getConfirmation(this);">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <label id="languageLabel" for="language">Your Chosen Language</label>
                            <select id="language" class="form-control">
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div id="notificationsContainer">
            <div class="container">
                <div id="notifications">
                    <p id="newMessage" class="notification alert alert-info btn btn-info" role="alert"></p>
                    <p id="userTyping" class="notification alert alert-info" role="alert">User is typing...</p>
                    <p id="error" class="notification alert alert-danger" role="alert"></p>
                </div>
            </div>
        </div>

        <div id="messageForm">
            <div class="container">
                <form class="input-group" id="textSend">

                    <div class="input-group-btn btn-group dropup" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            🎮
                        </button>
                        <ul class="dropdown-menu" id="gameSelect">
                            <li>
                                <button type="button" class="btn btn-default">🎮</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default">🎮</button>
                            </li>
                        </ul>
                    </div>
                    <label id="messageLabel" for="message">Your Text Message</label>
                    <input id="message" placeholder="hello :)..." class="form-control" />
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Send</button>
                            </span>
                </form><!-- /input-group -->

            </div>
        </div>

        <div id="chatButtons">
            <div class="container">
                <button id="skipButton" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Skip User</button>
                <button id="reportButton" class="btn btn-warning"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Report User</button>
            </div>
        </div>

        <div id="chat">
            <div class="container">
                <div id="messages"></div>
            </div>
        </div>

        <div id="startContainer">
            <div class="container">

                <form id="preferences">
                    <fieldset>
                        <legend>I want to be a:</legend>
                        <div class="radio">
                            <label for="supporter"><input type="radio" name="type" value="Supporter" id="supporter" checked>Supporter</label>
                        </div>
                        <div class="radio">
                            <label for="supportee"><input type="radio" name="type" value="Supportee"
                                                          id="supportee">Supportee</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>I want to talk about:</legend>
                        <div class="checkbox">
                            <label for="anything"><input type="checkbox" name="topic" value="Anything" checked id="anything">Anything</label>
                        </div>
                        <div class="checkbox">
                            <label for="loneliness"><input type="checkbox" name="topic" value="Loneliness" id="loneliness">Loneliness</label>
                        </div>
                        <div class="checkbox">
                            <label for="stress"><input type="checkbox" name="topic" value="Stress" id="stress">Stress</label>
                        </div>
                        <div class="checkbox">
                            <label for="unhappiness"><input type="checkbox" name="topic" value="Unhappiness" id="unhappiness">Unhappiness</label>
                        </div>
                        <div class="checkbox">
                            <label for="feelings of anxiety"><input type="checkbox" name="topic" value="Feelings of Anxiety" id="feelings of anxiety">Feelings of Anxiety</label>
                        </div>
                        <div class="checkbox">
                            <label for="isolation"><input type="checkbox" name="topic" value="Isolation" id="isolation">Isolation</label>
                        </div>
                    </fieldset>
                    <div id="preferencesFeedbackContainer">
                        <p id="preferencesFeedback" class="alert alert-danger"></p>
                    </div>
                    <button id="startButton" class="btn btn-primary" autofocus>Start Chatting</button>
                </form>

                <div id="messagesContainer">

                    <div id="feedbackContainer" class="panel panel-success">
                        <div class="panel-heading" id="feedback"></div>
                    </div>

                    <p id="motivationalMessage"></p>

                </div>

            </div>
        </div>

        <div id="confirmationContainerContainer">
            <div class="container">
                <div id="confirmationContainer" class="panel panel-danger">
                    <div class="panel-heading" ><p id="confirmationMessage"></p><div id="confirmationButtons"></div></div>
                </div>
            </div>
        </div>

        <audio id="notificationSound">
            <source src="sound/notification.wav" type="audio/wav">
            <source src="sound/notification.mp3" type="audio/mp3">
            <source src="sound/notification.ogg" type="audio/ogg">
                Your browser does not support the audio element.
        </audio>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/fixedFooterHeader.js"></script>
        <script type="text/javascript" src="lib/chat.js"></script>
    </body>
</html>