<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jahidul Pabel Islam">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="lib/main.css"/>
        <link rel="icon" href="images/logo.png">
        <title>Chat | Buddy Support</title>
    </head>

    <body>

        <ul id="messages"></ul>

        <div id="messageForm">
            <form id="textSend">
                <input id="message" placeholder="hello :)..."/>
                <button>Send</button>
            </form>
        </div>

        <button id="startButton" autofocus>Start Chatting</button>

        <button id="skipButton">Skip User</button>

        <button id="reportButton">Report User</button>

        <p id="feedback"></p>

        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="lib/ui.js"></script>
        <script type="text/javascript" src="lib/helperFunctions.js"></script>
    </body>
</html>