<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jahidul Pabel Islam">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="lib/main.css"/>
        <link rel="icon" href="images/logo.png">
        <title>Chat | Buddy Support</title>
    </head>

    <body>

        <header>
            <a href="/">Chat</a>
            <a href="contact">Contact</a>
        </header>

        <ul id="messages"></ul>

        <form id="messageForm">
            <label for="photosSend">Send Images</label>
            <input type="file" name="photosSend" id="photosSend" multiple accept="image/*">
            <label for="videosSend">Send Videos</label>
            <input type="file" name="videosSend" id="videosSend" multiple accept="video/*">
            <label for="audiosSend">Send Audios</label>
            <input type="file" name="audiosSend" id="audiosSend" multiple accept="audio/*">
            <input id="message" placeholder="hello :)..."/>
            <button>Send</button>
        </form>

        <form id="startForm">
            <button>Start</button>
        </form>

        <form id="skipForm">
            <button>Skip User</button>
        </form>

        <p id="feedback"></p>

        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="lib/ui.js"></script>
    </body>
</html>